@each $block in (general-wrapper, 
                navigation-menu-wrapper, 
                navigation-menu-inner-wrapper, 
                navigation-links-wrapper, 
                contacts-wrapper, 
                content-wrapper,
                toggle-slider-wrapper, 
                toggle-and-feedback-wrapper,
                extra-info-wrapper,
                recipe-container) {  
    .#{$block} {
        flex-direction: column;
    }
}

@each $block in (body-wrapper,
                toggle-buttons-wrapper,
                subscribe-wrapper,
                subscribe-inner-wrapper,
                subscribe-wrapper-submit-form,
                recipes-wrapper,
                footer-wrapper,
                social-networks-wrapper) {
    .#{$block} {
        flex-direction: row;
    }
}
.flex-container {
    display: flex;
}
// imports
@import 'vendors/reset';
@import 'blocks/main_styles';
@import 'blocks/nav_styles';
@import 'blocks/footer_styles';
/* general styles */
body {
    height: auto;
}
.general-wrapper {
        margin: auto;
        width: 1176px;
        height: 1175px;
        padding: 30px 20px;

    @include _max1175 {
        width: 100%;
    }

    @include _max992 {
        height: auto;
    }

    @include _max768 {
        padding: 20px 10px 0px 10px;
    }

    @include _max480 {
        padding: 0;
    }
}
.body-wrapper {
    width: 100%;
    height: 90%;
    margin-bottom: 2%;

    @include _max992 {
        flex-direction: column;
    }
}