@import '../../styles/common/general.scss';
.statWrapper {
    margin: 20px;
    height: 50px; 

    &__name {
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__progressBar {
        height: 20px;
    }

    &__progressBar {
        border-radius: 5px;
        border: 2px solid #34495E;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    }
}
.progress-bar::-webkit-progress-value {
    background: #e74c3c;
}
.progress-bar::-webkit-progress-bar {
    background: #3498db;
}