$purple: #884CB2;
$pink: #f3477a;
$minor: #219653;
$normal: #f2c94c;
$critical: #eb5757;
$inactive-background: #fbdddd;
$inactive-color: #EB5757;
$pending-background: #fcebdb;
$pending-color: #F2994A;
$in_progress-background: #ddf5fc;
$in_progress-color: #56CCF2;
$completed-background: #27ae6033;
$completed-color: #27AE60;
$cancelled-background: $inactive-background;
$cancelled-color: $inactive-color;
$main-background: #fff;
$grey: #E0E0E0;
$comment-background: #f3f3f3;
$contributors-overflow: #6FCF97;