.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}
.none {
    display: none;
}
.interactive-button {
    padding: 3px 8px;
}