@import '../../styles/general/colours.scss';
@import '../../styles/general/layout.scss';
@import '../../styles/general/reset.css';
@import '../../styles/mixins/media.scss';

.toDoWrapper {
    @extend .flex-container-row;
    border-bottom: .5px solid $grey;
    width: 100%;
    align-items: center;
    padding: 5px 0px;

    &__description {
        cursor: pointer;
        text-align: left;
        width: 30%;

        @include _max768 {
            width: 100%;
        }
    }

    &__description:hover {
        color: $pink;
    }

    @include _max768 {
        flex-direction: column;
    }
}

.wrapInfo {
    @extend .flex-container-row;
    width: 70%;

    @include _max768 {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}

.statusWrapper {
    width: 30%;

    @include _max768 {
        text-align: left;
    }

    &__status {
        @extend .interactive-button;
        text-align: center;
        border-radius: 8px;

        &_pending {
            background-color: $pending-background;
            color: $pending-color;
        }   

        &_inprogress {
            background-color: $in_progress-background;
            color: $in_progress-color;
        }

        &_completed {
            background-color: $completed-background;
            color: $completed-color;
        }

        &_cancelled {
            background-color: $cancelled-background;
            color: $cancelled-color;
        }
    }
}

.importanceWrapper {
    width: 30%;

    &__importance {
        @extend .flex-container-row;

        &_minor::before {
            content: "\2022";
            color: $minor;
            margin-right: 5px;
        }

        &_normal::before {
            content: "\2022";
            color: $normal;
            margin-right: 5px;
        }

        &_critical::before {
            content: "\2022";
            color: $critical;
            margin-right: 5px;
        }
    }       
}

.contributorsList {
    @extend .flex-container-row;
    width: 40%;
}

.contributor {
    border-radius: 100%;
    margin-right: -10px;
    border: 2px solid white;

    &__overflow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $contributors-overflow;
        color: $comment-background;
    }

    &__photo {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}

.dropdownActions {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 20px;
}

.chosenToDo {
    color: $pink;
}