body {
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Roboto', sans-serif;
}
.general-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    height: 90vh;
    border: 10px solid;
    border-color: #f0f0f0;
    background-color: #141414;
}
.start-menu, .results {
    position: absolute;
    background-color: #131212;
    color: white;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}
.start-menu select {
    background-color: #131212;
    color: white;
}
select option:hover {
    color: white;
    box-shadow: 0 0 10px 100px white;
}
.none {
    display: none;
}
.game-options__difficulty-title,
.game-options__walls-enabling, 
.game-options__color-theme-title, 
.results__score-title, 
.user-guide__gameplay-description {
    margin-bottom: 5px;
}
input, select, 
.results__user-score,
.user-guide__quit-description {
    margin-bottom: 12px;
}
.start-menu__play-button, 
.results__restart-game {
    padding: 3px 17px;
    background-color: #131212;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.start-menu__play-button:hover,
.results__restart-game:hover {
    background-color: white;
    border-color:#141414;
    color: #131212;
}