// imports
@import '../common/layout';
@import '../mixins/media';
@import '../mixins/fonts';
@import 'variables/colors_and_fonts.scss';
/* wrappers style */
.footer {
    @extend .flex-container;
    @extend .flex-row;
    width: auto;
    height: 8%;
    border-top: 2px solid $light-active;
    padding-top: 25px;
    justify-content: space-between;
    margin-left: 75px;
    @include font-type('Arial', normal);

    @include _max1175 {
        margin-left: 25px;
    }
    @include _max992 {
        width: 100%;
        margin: 0;
    }
    @include _max480 {
        width: auto;
        margin: 0px 10px;
    }
}
.footer-nav {
    @extend .flex-container;
    @extend .flex-column;
    &__license {
        color: $smokey;
        letter-spacing: -0.02em;
        &::before {
            content: '\A9';
        }
        @include font-options(12px, 12px);
    }
}
.social-networks-wrapper {
    flex-wrap: wrap;
}
/* elements style */
.privacy  {
    margin-bottom: 10px;
    a {
        text-decoration: none;
        letter-spacing: -0.02em;
        color:  $primary;
        @include font-options(12px, 12px);
    }
}
.privacy__privacy::after,
.privacy__terms::after {
    content: '|';
    color: $light-active;
    margin-left: 5px;
}
.social-networks {
    @extend .flex-container;
    @extend .flex-row;
    div {
        margin-left: 10px;
    }
}
@each $logo in (tweeter, facebook, rss) {
    .social-networks__#{$logo}-logo::before {
        content: url(../res/icons/#{$logo}-icon-grey.svg);
    }
}