@import '../media/media';
@import 'vendors/colors_and_fonts.scss';
/* wrappers style */
.footer-wrapper {
    @include font('Arial');
    width: auto;
    height: 8%;
    border-top: 2px solid $light-active;
    padding-top: 25px;
    justify-content: space-between;
    margin-left: 75px;

    @include _max1175 {
        margin-left: 25px;
    }
    @include _max992 {
        width: 100%;
        margin: 0;
    }
    @include _max480 {
        width: auto;
        margin: 0px 10px;
    }
}
.social-networks-wrapper {
    flex-wrap: wrap;
}
/* elements style */
.extra-info-wrapper__license {
    color: $smokey;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    &::before {
        content: '\A9';
    }
}
.privacy-container  {
    a {
        text-decoration: none;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.02em;
        color:  $primary;
    }
}
.privacy-container__privacy::after,
.privacy-container__terms::after {
    content: '|';
    color: $light-active;
    margin-left: 5px;
}
.social-networks-wrapper {
    div {
        margin-left: 10px;
    }
}
@each $logo in (tweeter, facebook, rss) {
    .social-networks-wrapper__#{$logo}-logo::before {
        content: url(../res/icons/#{$logo}-icon-grey.svg);
    }
}