.flex-container-row {
    display: flex;
    flex-direction: row;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
}
.red {
    background-color: #e74c3c;
}
.blue {
    background-color: #3498db;
}
.gold {
    background-color: #e67e22;
}
.grey {
    background-color: #95a5a6;
}
.none {
    display: none;
}