@import '../../styles/general/colours.scss';
@import '../../styles/general/layout.scss';
@import '../../styles/general/reset.css';
@import '../../styles/mixins/fonts.scss';


.commentWrapper {
    @extend .flex-container-row;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.photoContainer {
    width: 25%;

    &__image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
}

.commentBlock {
    @extend .flex-container-column;
    width: 75%;

    &__toDoName {
        @include font-options('Poppins', 10px, 500);
        text-align: left;
        margin-top: 5px;

        b {
            display: inline-block;
            color: $normal;
        }
    }

    &__text {   
        @include font-options('Poppins', 12px, 400);
        background-color: $comment-background;
        padding: 12px 8px;
        border-radius: 10px;
        margin-top: 20px;
    }
}

.commentInfo {
    @extend .flex-container-row;
    flex-wrap: wrap;

    &__time {
        color: $grey;
    }

    &__name {
        margin-right: 20px;
        font-weight: 700;
    }
}