@import '../../styles/common/general.scss';
@import '../../styles/common/reset.scss';

.generalWrapper {
    max-width: 100%;
    max-height: 50%;
    scroll-behavior: smooth;
    height: 500px;
    overflow-y: scroll;
}

.logList {
    list-style: none;
    padding: 0;
}