@import '../../styles/general/colours.scss';
@import '../../styles/general/layout.scss';
@import '../../styles/general/reset.css';

.toDoCreatorWrapper {
    @extend .flex-container-row;
    height: 15%;
    align-items: center;

    &__title {
        font-size: 26px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        margin-right: 20px;
    }

    &__add {
        background-color: $purple;
        border-radius: 10px;
        border: 2px solid transparent;
    }

    &__add:hover {
        background-color: transparent;
        color: $purple;
        border-color: $purple;
    }

    &__tasksToday {
        font-weight: bold;
        color: $pink;
    }
}