@import '../../styles/general/colours.scss';
@import '../../styles/general/layout.scss';
@import '../../styles/general/reset.css';
@import '../../styles/mixins/media.scss';

.navBarWrapper {
    @extend .flex-container-row;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include _max768 {
        height: auto;
        margin-bottom: 20px;
    }
}

.userBlock {
    @extend .flex-container-row;
    justify-content: flex-end;
    width: 40%;
}

.searchBarWrapper {
    @extend .flex-container-row;
    width: 60%;
    text-align: left;
    padding-right: 30px;

    img {
        margin-right: 10px;
    }

    &__input {
        text-align: left;
        width: 100%;
    }

    &__input:focus {
        border-bottom: 2px solid $grey;
    }
}

.notificationsBlock {
    @extend .flex-container-row;
    align-items: center;
    width: 75%;
    justify-content: flex-end;

    @include _max480 {
        width: 50%;
    }

    &__bell {
        cursor: pointer;
        height: 25px;
        width: 25px;
    }
}
.userInfo {
    width: 25%;
    border-radius: 100%;

    @include _max480 {
        width: 50%;
    }   

    &__photo {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
}