@media only screen and (max-width: 480px) {
    .general-wrapper {
        padding: 0;
    }
    .navigation-menu-wrapper {
        padding: 20px 10px 0px 10px;
    }
    .navigation-menu-inner-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .navigation-links-wrapper {
        width: 100%;
    }
    .navigation-menu-inner-wrapper__logo {
        margin-top: 30px;
    }
    .toggle-slider-image-wrapper {
        min-height: 300px;
    }
    .recipe-container {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-wrapper {
        width: auto;
        margin: 0px 10px;
    }
}